* {
   margin: 0;
   padding: 0;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff
}
header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-end;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 2px 21px 92px 2px rgba(194, 230, 231, 0.75);
    -webkit-box-shadow: 2px 21px 92px 2px rgba(192, 238, 241, 0.75);
    -moz-box-shadow: 2px 21px 92px 2px rgba(208, 241, 243, 0.75);
    
    
}
.menu-container{

    text-align: center;
}
ul{
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 32px;
    margin-right: 250px;
    margin-bottom: 32px
   
   
}
ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    

    
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem;

    font-family: 'Montserrat', sans-serif;
}
ul li a:hover {
    color:#00FFD7;
}

li#contact-bottom{
    background-color: #00FFD7;
    border-radius: 40px;
    padding: 12px;
}
#contact-bottom a{
    color: white;
    
}
li#contact-bottom:hover{
    background-color: #75ffea;
    transition: 0.2s;
}

/*Aqui empezare a aplicar css a la seccion presentacion*/
.section-presentacion {
    display: flex;
    padding: 7rem;   
    max-width: 80vw;
    justify-content: space-between; 
    align-items: center;
    border: 20px;
    min-height: 35vw;
    
}
.name-description {
    padding-left: 9rem;
    max-width: 100%;
    flex-direction: column;
    text-align: left;
}
#holasoy{
    font-family: 'Philosopher', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    padding-left: 1rem;
}
#mi-name{
    color: #59b8a9;
    font-size: 50px;
    font-family: 'Fira Mono', monospace;
    padding-top:5px;
    padding-left: 1rem;
    font-weight: 700;
    
}
#mi-descripcion{
    color: black;
    font-size: 20px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding-left:1rem;
    padding-bottom: 2rem;
}
.section-presentacion a.boton-de-presentacion{
    padding-left: 2rem;
}
.boton-de-presentacion {
    color: rgb(55, 69, 73);
    background-color: #50b4a4;
    border-radius: 40px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align:center;
    list-style: none;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    margin-left: 150px;
}
.boton-de-presentacion:hover{
    background-color: cadetblue;
}
/*fin de seccion presentacion*/

/*Ahora empezaremos con la seccion conocimientos*/

.section-conocimientos{
    display: flex;
    background-color: #f6f7fb;
    padding: 110px 40px 130px;
    justify-content: center;
    width: 100%;

}
.skills{
    padding:2rem;
}
    

.title-skills { 
    font-family:'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 50px;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    
}

.parrafo-skills{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 200;
    font-size:15px;
    margin-left:30px;
    margin-right: 30px;
    width: 400px;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 220px;
    line-height: 25px;
}
.skill-boxes{
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.boxes {
    display: flex;
    height: 250px;
    background-color:#ffffff;
    margin:15px;
    border: 1px solid #50b4a4;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxes > i {
    font-size: 5rem;
    margin: 20px;
    
}
.boxes > h3 {
    line-height: 1.5rem;
    margin-top: 1rem;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.boxes:hover {
    color: #ffffff;
    background-color: rgb(71, 209, 163);

}
/*fin de la seccion Mis conocimientos*/

/*Inicio de quotes*/

 .quotes{
     display: flex;
     width: 100%;
     height: 600px;
     align-content: center;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(to right, rgb(214, 159, 243), rgb(36, 250, 214));
 }
 .quotes > i {
     font-size: 70px;
 }
 blockquote {
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    width: 450px;
    margin: 2rem;
 }
 .quote-author {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
 }

/*Fin de quotes*/

/*Comienzo de Mis proyectos*/

.my-proyects {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
    padding: 110px 40px 130px;
    flex-direction: column;
    align-items: center;
}

.misproyectos{
    font-family:'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 50px;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}
.descripcion-proyectos{
    display: flex;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 200;
    font-size:15px;
    padding-bottom: 50px;
    line-height: 25px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 600px;
    padding-right: 600px;
}
.contenedor-imagenes{
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.boxes2{
    display: flex;
    height: 300px;
    background-color:#ffffff;
    margin:10px;
    border: 1px solid #adb6b5;
    border-radius: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    color: black;
}

.boxes2>p {
    padding-top: 35px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.contenedor-imagenes>a:hover{
    color: #00FFD7;
    border: #00FFD7 solid 1px;
    
}
