* {
   margin: 0;
   padding: 0;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff
}
header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-end;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 2px 21px 92px 2px rgba(194, 230, 231, 0.75);
    -webkit-box-shadow: 2px 21px 92px 2px rgba(192, 238, 241, 0.75);
    -moz-box-shadow: 2px 21px 92px 2px rgba(208, 241, 243, 0.75);
    
    
}
@media(max-width: 1050px){
    header{
    display: none;
    }
}
.menu-container{

    text-align: center;
}
.barra-menu{
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 32px;
    margin-right: 250px;
    margin-bottom: 32px;
    color:black;
   
   
}
.barra-menu>li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    

    
}

.barra-menu>li>.contacto11  {
    text-decoration: none;
    margin: 7px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}
.barra-menu>li .contacto11:hover {
    color:#00FFD7;
}
a.contacto1{
    background-color:#00FFD7;
    border-radius: 60px;
    color: #ffffff;
    text-decoration: none;
    margin: 7px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

a.contacto1:hover{
    background-color: #75ffea;
    transition: 0.2s;

}




/*Aqui empezare a aplicar css a la seccion presentacion*/
.section-presentacion {
    display: flex;
    padding-top: 7rem; 
    padding-bottom: 8rem;  
    width: 70%;
    justify-content: space-around; 
    align-items: center;
    margin-left: 15%;
    
    
}
@media(max-width:1050px){
    .section-presentacion{
        flex-direction: column;
    }
    .name-description{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        
    
    
    }
    
}
@media(max-width:550px){
    .programmer{
        width: 450px;

    }
}
.name-description {
    display: flex;
    flex-direction: column;
    width: 70%;

}
#holasoy{
    font-family: 'Philosopher', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 40px;
    
}
#mi-name{
    color: #59b8a9;
    font-size: 50px;
    font-family: 'Fira Mono', monospace;
    padding-top:5px;
    font-weight: 700;
    
}
#mi-descripcion{
    color: black;
    font-size: 20px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding-bottom: 2rem;
}

.boton-de-presentacion {
    
    color: rgb(55, 69, 73);
    background-color: #50b4a4;
    border-radius: 40px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align:center;
    list-style: none;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    width: 150px;
}
.boton-de-presentacion:hover{
    background-color: cadetblue;
}
/*fin de seccion presentacion*/

/*Ahora empezaremos con la seccion conocimientos*/

.section-conocimientos{
    display: flex;
    background-color: #f6f7fb;
    justify-content: center;
    width: 100%;
    align-content: center;

}
.skills{
    padding:2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}
    

.title-skills { 
    font-family:'Montserrat', sans-serif;
    padding-top: 8rem;
    padding-bottom: 50px;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    
}

.parrafo-skills{
    display: flex;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 200;
    font-size:15px;
    text-align: center;
    line-height: 25px;
    justify-content: center;
    width: 50%;
    padding-bottom: 2rem;
}
.skill-boxes{
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    flex-wrap: wrap;

}
@media(max-width:915px){
    .skill-boxes{
        width: 100%;
        justify-content: center;
    }

}
.boxes {
    display: flex;
    height: 250px;
    background-color:#ffffff;
    margin:15px;
    border: 1px solid #50b4a4;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxes > i {
    font-size: 5rem;
    margin: 20px;
    
}
.boxes > h3 {
    line-height: 1.5rem;
    margin-top: 1rem;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.boxes:hover {
    color: #ffffff;
    background-color: rgb(71, 209, 163);

}
/*fin de la seccion Mis conocimientos*/

/*Inicio de quotes*/

 .quotes{
     display: flex;
     width: 100%;
     height: 600px;
     align-content: center;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(to right, rgb(214, 159, 243), rgb(36, 250, 214));
 }
 .quotes > i {
     font-size: 70px;
 }
 blockquote {
    display: flex;
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    width: 50%;
    margin: 2rem;
 }
 .quote-author {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
 }
@media(max-width:500px){

    blockquote{
       padding: 0px 20px;
    }
}
/*Fin de quotes*/

/*Comienzo de Mis proyectos*/

.my-proyects {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}
.caja-misproyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.misproyects{
    font-family:'Montserrat', sans-serif;
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}
@media(max-width:980px){
    .contenedor-imagenes{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    
    }
}


.descripcion-proyectos{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 200;
    font-size:15px;
    padding-bottom: 50px;
    line-height: 25px;
    text-align: center;
    align-content: center;
    display: flex;
    width: 50%;
}
.contenedor-imagenes{
    display: flex;
    width: 70%;
    flex-wrap: wrap;

}
.boxes2{
    display: flex;
    height: 300px;
    background-color:#ffffff;
    margin:10px;
    border: 1px solid #adb6b5;
    border-radius: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    color: black;
}

.boxes2>p {
    padding-top: 35px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.contenedor-imagenes>a:hover{
    color: #00FFD7;
    border: #00FFD7 solid 1px;
    
}
/*Fin de la seccion Mis proyectos"

/*Comienzo de la seccion Contactame*/

.column {
    display: flex;
    width: 100%;
    background-color: #b9dfdf;
    justify-content:  center;
}
.conteiner-contact{
    display: flex;
    flex-direction: row;
    width: 80%;
    border: #adb6b5 solid 1px;
    border-radius: 30px;
    background-color:#def1f0;
    justify-content: space-between;
    margin: 200px;
    padding: 2rem;

}
@media(max-width:1200px){
    .conteiner-contact{
        display: flex;
        flex-direction: column;
    }
    
    ul.contact-social-links{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    
}
@media(max-width:610px){
        
    ul.contact-social-links{
        display: flex;
        flex-direction: column;
    }
        
}
.contact-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
}
.title-contact{
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}
.description-c{
    width: 350px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    line-height:1.4;
}
.contact-social-links{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    list-style: none;
    width: 30%;

}
.contact-items1{
    width: 50%;
}
.contact-items1>a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 10px;
    line-height: 0.9;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: center;

}
.devicon-twitter-original{
    margin-right: 20px;
    color: cadetblue;
    font-size: 15px;
    background-color:#def1f0;
    padding:10px;
}
.devicon-github-original{
    margin-right: 20px;
    color: cadetblue;
    font-size: 20px;
    background-color:#def1f0;
    padding:10px;
}
.devicon-linkedin-plain{
    margin-right: 20px;
    color: cadetblue;
    font-size: 20px;
    background-color:#def1f0;
    padding:10px;
}
.far{
    margin-right: 20px;
    color: cadetblue;
    font-size: 15px;
    background-color:#def1f0;
    border-radius: 10px;
    padding:10px;

}
.contact-items1 > .twitter-c > .devicon-twitter-original:hover{
background-color: #59b8a9;
color: #ffffff;
border-radius: 100px;

}
input:focus,
textarea:focus,
a:focus
 {
    box-shadow: 0px 0px 7px #00FFD7;
    outline: 0;
    border-radius: 30px;
}
.contact-items1>.github-c>.devicon-github-original:hover{
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 100px;
}
.contact-items1>.linkedin-c>.devicon-linkedin-plain:hover{
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 100px; 
}
.contact-items1>.email-c>.correo:hover{
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 100px;
}
.contact-items1>a:hover{
    color: #59b8a9;
}
.contact-items1:hover .devicon-twitter-original {
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 60px; 
}
.contact-items1:hover .devicon-github-original{
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 60px;
}
.contact-items1:hover .devicon-linkedin-plain{
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 60px;
}
.contact-items1:hover .far{
    background-color: #59b8a9;
    color: #ffffff;
    border-radius: 60px;
}
.nombre-apellido{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 15px;
}
.details{
    width: 50%;
    flex-direction: column;
    margin-right: 15px;
}
.name-c{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    width: 80%;
    margin-right: 20px;
    font-family:'Montserrat', sans-serif;
}
.box-name{
    margin-bottom: 20px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

}
.email-type{
    width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 30px;
}
.mensaje-box{
    width: 80%;
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    margin-bottom: 30px;
    padding: 1rem;
}
    .buttom-send{
    background-color: rgb(52, 196, 176);
    border-radius: 100px;
    color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .buttom-send:hover{
        background-color: rgb(103, 180, 170);
        
    }

footer{
    display: flex;
    width: 100%;
    background-color: #15a0a0;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}
.footer-nav{
    display: flex;
   text-transform: uppercase;
   margin: 50px;

}
.footer-f{
    display: inline;
    list-style: none;
    margin: 15px;

}
.footer-f a{
    text-decoration: none;
    color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.footer-redes{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 50px;

}
.items-footer{
    list-style: none;
    margin: 5px;
}
@media(max-width:700px){
    .footer-nav{
        display: none;
    }
}
.fa-mail-bulk,.fa-linkedin-in,.fa-github,.fa-twitter
{
    font-size: 25px;
    color:#15a0a0;
    background-color:#ffffff;
    border-radius: 100px;
    padding: 5px;
}

.fa-mail-bulk:hover,.fa-linkedin-in:hover,.fa-github:hover,.fa-twitter:hover{
    background-color: #15a0a0;
    color: #ffffff;
    border: #ffffff 1px solid;
}
.ultimo{
    color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 10px;
}

